header {
  padding: 10px;
  background-color: rgb(200, 200, 200);
  height: 45px;
}

#header-logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  font-size: 1.8em;
  font-family: 'Comfortaa', cursive;
  font-weight: 1000;
  width: 260px;
}

#menu-nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  margin: 0px;
  list-style-type: none;
}

#menu-nav li {
  float: left;
}

#menu-nav a {
  display: block;
  padding: 10px 15px;
  margin-right: 15px;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(60, 60, 60);
  font-weight: 500;
  transition: 0.15s ease-in;
}

#menu-nav a:hover {
  background-color: rgb(220, 220, 220);
}

#menu-nav a:active {
  transform: scale(0.9, 0.9);
}

#menu-nav a.active {
  background-color: rgb(60, 60, 60);
  color: white;
}